@model ProductViewModel

@{
	ViewData["Title"] = "Редагувати продукт";
}

<div class="container">
	<form method="post">
		<div class="border p-3 mt-4">
			<div class="row pb-2">
				<h2 class="text-primary">@ViewData["Title"]</h2>
				<hr />
			</div>
			<div class="mb-3">
				<label asp-for="ProductName"></label>
				<input asp-for="ProductName" class="form-control" />
				<span asp-validation-for="ProductName" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Cost"></label>
				<input asp-for="Cost" class="form-control" />
				<span asp-validation-for="Cost" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="NumLeft"></label>
				<input asp-for="NumLeft" class="form-control" />
				<span asp-validation-for="NumLeft" class="text-danger"></span>
			</div>
			<div class="mb-3 row justify-content-md-center">
				@for (int i = 0; i < Model.Categories.Count(); i++)
				{
					<input type="hidden" asp-for="@Model.Categories[i].Value" />
					<div class="col-md-auto">
						<input asp-for="Categories[i].Selected" /> @Model.Categories[i].Text
					</div>
				}
			</div>
			<button type="submit" class="btn btn-primary" style="width:150px">Оновити дані</button>
			<a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:120px">
				Скасувати
			</a>
		</div>
	</form>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}