@model Category

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Створити нову категорію</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="CategoryName"></label>
			<input asp-for="CategoryName" class="form-control"/>
			<span asp-validation-for="CategoryName" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="CategoryDescription"></label>
			<input asp-for="CategoryDescription" class="form-control"/>
		</div>
		<button type="submit" class="btn btn-primary" style="width:120px">Створити</button>
		<a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:120px">
			Скасувати
		</a>
	</div>
</form>