@inject SignInManager<User> signInManager;
@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div calss="row p-4">
        <div class="col-6">
            <h2 class="text-primary">Категорії</h2>
        </div>
        <div class="text-end">
            @if (signInManager.IsSignedIn(User))
            {
                <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                    Створити нову категорію
                </a>
            }
        </div>
    </div>
</div> 

<table class="table table-borderless table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Категорія
            </th>
            <th>
                Опис категорії
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="50%">
                    @obj.CategoryName
                </td>
                <td width="50%">
                    @obj.CategoryDescription
                </td>
                <td>
                    @if (signInManager.IsSignedIn(User))
                    {
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary">Реадагувати</a>
                        </div>
                    }
                </td>
                <td>
                     @if (signInManager.IsSignedIn(User))
                    {
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-primary">Видалити</a>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

