@model UserSupport
<form method="post">
	<input hidden asp-for="UserId" />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Створити нове зверенення</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="TextMessage"></label>
			<textarea class="form-control" rows="5" asp-for="TextMessage"></textarea>
			<span asp-validation-for="TextMessage" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:120px">Створити</button>
	</div>
</form>