@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex p-5 justify-content-center">
    <h4>Вітаю на головній сторінці!</h4>
    <a asp-controller="Product" asp-action="Index" class="btn btn-primary">Перейти до продуктів</a>
</div>